<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="cal"
            id="streamblocks.eclipse.Cal"
            name="CAL File"
            priority="normal">
      </content-type>
      <file-association
            content-type="streamblocks.eclipse.Cal">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="streamblocks.eclipse.Cal"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="streamblocks.eclipse.Cal"
            editorId="org.eclipse.ui.DefaultTextEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="streamblocks.eclipse.LanguageServerConnectionProvider"
            id="streamblocks.eclipse.LanguageServer"
            label="streamblocks.eclipse.LanguageServer">
      </server>
      <contentTypeMapping
            contentType="streamblocks.eclipse.Cal"
            id="streamblocks.eclipse.LanguageServer">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="syntaxes/cal.tmLanguage.json"
            scopeName="source.cal">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="streamblocks.eclipse.Cal"
            scopeName="source.cal">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="streamblocks.eclipse.Cal"
            path="language-configuration.json">
      </languageConfiguration>
   </extension>
   <extension
         point="org.eclipse.tm4e.ui.snippets">
      <snippet
            name="streamblocks.eclipse.snippets"
            path="snippets/cal.snippets.json"
            scopeName="source.cal">
      </snippet>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.icons">
      <icon
            contentType="streamblocks.eclipse.Cal"
            icon="icons/caltrop.png">
      </icon>
   </extension>

</plugin>
